@model TrashCollector_Project.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron">
    
</div>

<div>
    <button class="btn btn-block btn-lg">
        @Html.ActionLink("Schedule Pickup", "Pickup")
    </button>
</div>