@model TrashCollector_Project.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron">
    
</div>

<div>
    <button class="btn btn-block btn-lg">
        @Html.ActionLink("Edit Pickup Day", "EditPickUp")
    </button>
    <button class="btn btn-block btn-lg">
        @Html.ActionLink("Special Pickup", "SpecialPickUp")
    </button>
    <button class="btn btn-block btn-lg">
        @Html.ActionLink("Start/End Pickup", "TemporaryPickUp")
    </button>
    <button class="btn btn-block btn-lg">
        @Html.ActionLink("Account Information", "AccountInformation")
    </button>
    <button class="btn btn-danger btn-sm" style="background-color:red; color:white; right:auto">DELETE ACCOUNT
    </button>
</div>